<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Click on the button to generate some data!
    </h4>
    <button ng-click="getRandomPlanet()" class="btn btn-primary pull-right">Show me a planet!</button>
  </div>
  <div class="panel-body">
    <ul ng-show="data.name">
      <li>Name: {{ data.name }} </li>
      <li>Climate: {{ data.climate }}</li>
      <li>Gravity: {{ data.gravity }}</li>
      <li>Terrain: {{ data.terrain }}</li>
      <li>Population: {{ data.population }}</li>
    </ul>
  </div>
</div>